/*
Följande önskemål finns:
 Text​ och videoinnehåll skall vara centrerat
 För​ och bakgrundsfärg skall ha relevans till filmen (Kolla på posters)
 Länklistan skall vara horisontell
 Footern skall vara 50px hög och ha annan bakgrundsfärg än resten av sidan.
*/

body {
	font-family: Verdana;
	background-color: #f7b7e9; 
}
	
h1, h2, h3, h4 {
	color: #380163;
}

section {
	text-align: center;
}

iframe {
	outline-color:#380163;
	outline-style: solid;
}

/* Horisontell länklista */
/* Använder float. Kan göras på andra sätt t ex med flexbox.  */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
  color: white;
  
}

/* Städar lite efter man har använt float. I det här fallet innan man
forstätter med footer elementet. */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

 /* Footer */
 /* Testar vertical alignment med flexbox */
 
footer {
	height: 50px;
	margin-top: 10px;
	padding-left: 8px;
	background-color: #e449e8;
	outline-color:#380163;
	outline-style: solid;
}

.flex-align-center {
	display:  flex;
	align-items: center;
}


